<!DOCTYPE html>
{% load static %}
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="ONG de pour le developpement et la formation des jeunes">
    <meta name="keywords" content="ONG, Organisation non gouvernementale, fomation, deleoppement, RDC, republique democratique du congo, kinshasa">
    <title>cradd</title>
    <!-- <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans|Candal|Alegreya+Sans"> -->
    <link rel="stylesheet" type="text/css" href={% static 'website/css/font-awesome.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'website/css/bootstrap.min.css'%}>
    <link rel="stylesheet" type="text/css" href={% static 'website/css/imagehover.min.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'website/css/thumbnail-gallery.css' %}>
    <link rel="stylesheet" type="text/css" href={% static 'website/css/style.css' %}>
</head>
<body>
    <!--Navigation bar-->
    {% block navigation %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href={% url 'index' %}>CRA<span>DD</span></a>
                <a href={% url 'toggle_language' %}>en/fr</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href={% url 'index' %} class="smoothScroll">Accueil</a></li>
                    <li><a href="#valeurs" class="smoothScroll">Valeurs</a></li>
                    <li><a href="#objectifs" class="smoothScroll">Objectifs</a></li>
                    <li><a href="#equipe" class="smoothScroll">Notre Equipe</a></li>
                    <li><a href={% url 'project_list' %} class="smoothScroll">Projet</a></li>
                    <li><a href={% url 'gallery' %} class="smoothScroll">Galerie</a></li>
                    <li><a href={% url 'article_list' %} class="smoothScroll">Blog</a></li>
                    <li><a href="#contact" class="smoothScroll">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}
    <!--/ Navigation bar-->

    <!-- Main Content -->
    {% block content %}

    {% endblock %}
    <!-- End Main Content -->

    <!-- Footer -->
    <footer id="footer" class="footer">
        <div class="container text-center">

            <ul class="social-links">
                <li><a href="#link"><i class="fa fa-twitter fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-facebook fa-fw"></i></a></li>
                <!-- <li><a href="#link"><i class="fa fa-google-plus fa-fw"></i></a></li>
                <li><a href="#link"><i class="fa fa-linkedin fa-fw"></i></a></li> -->
            </ul>
            Av Babonge, Bandalungwa, Kinshasa, RDC <br>
            Tel: +243 82 68 52 656 +243816511694 <br>

            ©2016 Rainbow inc.
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/custom.js"></script>
    <script src="contactform/contactform.js"></script>
</body>
</html>
