{%  extends 'website/base.html' %}
{% load static %}

{% block content %}

    <!--Banner-->
    <div id="accueil" class="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="banner-text text-center">
                        <div class="text-border">
                            <h2 class="text-dec">Les elites de demain</h2>
                        </div>
                        <div class="intro-para text-center quote">
                            <p class="big-text">Recherche - Action - Développement (RAD)</p>
                            <p class="small-text">Pour le développement de tout l’homme et de tout homme</p>
                        </div>
                        <a href="#qualification" class="mouse-hover"><div class="mouse"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Banner-->

    <!-- Valeurs -->
    <section id ="valeurs" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Valeurs</h2>
            <p>L’Asbl CRADD a pour mission d’œuvrer pour le développement durable de la R.D. Congo et de notre continent par les recherches,<br> formations et actions dans ses domaines d’intervention.</p>
            <hr class="bottom-line">
          </div>
          <div class="feature-info">
            <div class="fea">
              <div class="col-md-3">
                <div class="heading pull-right">
                  <h4>Probité morale</h4>
                  <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-css3"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-3">
                <div class="heading pull-right">
                  <h4>Professionnalisme</h4>
                  <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-drupal"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-3">
                <div class="heading pull-right">
                  <h4>Intégrité intellectuelle</h4>
                  <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-trophy"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-3">
                <div class="heading pull-right">
                  <h4>Amour du prochain</h4>
                  <p>Donec et lectus bibendum dolor dictum auctor in ac erat. Vestibulum egestas sollicitudin metus non urna in eros tincidunt convallis id id nisi in interdum.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-trophy"></i>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </section>
    <!--/ Valeurs -->

    <!-- Objectifs -->
    <section id ="objectifs" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Objectifs</h2>
            <p>Voici les formations que nous mettons a votre disposition <br> Choisissez celui qui vous convient</p>
            <hr class="bottom-line">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course01.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Promouvoir le développement durable dans les secteurs agricole, socio-économique et de la conservation de la nature </h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course02.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Promouvoir l’égalité de sexe et lutter contre les violences sexuelles et basées  sur le genre</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course03.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Lutter contre la pauvreté</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course04.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Mener des recherches socioéconomiques au niveau micro, meso et macro économique pour le développement de la République démocratique du Congo et du continent</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course05.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Sécuriser les modes de vie des populations locales </h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course06.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Animer les conférences, ateliers, formations tant au niveau de la base qu’au niveau de l’élite du pays en matière de développement endogène</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course06.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Mettre en place des centres scolaires, d’études, de formation professionnelle, d’alphabétisation et autres </h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course06.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Protéger les écosystèmes forestiers et halieutiques, et des aires protégées</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!--/ Courses-->

    <!-- Equipe -->
    <section id="equipe" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Notre Equipe</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem nesciunt vitae,<br> maiores, magni dolorum aliquam.</p>
            <hr class="bottom-line">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container" >
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                  <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
                </div>
              </div>
              <div class="pm-staff-profile-details text-center">
                <p class="pm-staff-profile-name">Baafo Nkong’oto Jean Marie</p>
                <p class="pm-staff-profile-title">Président</p>

                <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container" >
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                  <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
                </div>
              </div>
              <div class="pm-staff-profile-details text-center">
                <p class="pm-staff-profile-name">Wassia Anengeni Dorea</p>
                <p class="pm-staff-profile-title">Secrétaire Général</p>

                <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container" >
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                    <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
                </div>
              </div>
              <div class="pm-staff-profile-details text-center">
                <p class="pm-staff-profile-name">Ngamoy Batchonane Clarisse</p>
                <p class="pm-staff-profile-title">Responsable de programmes</p>

                <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4><a href="{% url 'team' %}" class="smoothScroll" >Voir toute l'equipe</a><h4>
            </div>
        </div>


      </div>
    </section>
    <!-- Equipe -->

    <!--Contact-->
    <section id ="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Contactez nous</h2>
                    <p>Besoin d'en savoir plus ? Envoyez nous un message !</p>
                    <hr class="bottom-line">
                </div>
                <div id="sendmessage">Votre message a ete envoye. Merci !</div>
                <div id="errormessage"></div>
                <form action={% url 'get_message' %} method="post" role="form" class="contactForm">
                    {% csrf_token %}
                    <div class="col-md-6 col-sm-6 col-xs-12 left">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control form" id="name" placeholder="Votre Nom" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Votre Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Object" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 right">
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Ecrivez quelque chose s'il vous plait" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <!-- Button -->
                        <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light">ENVOYER EMAIL</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!--/ Contact-->



{% endblock %}
