{%  extends 'website/base2-en.html' %}
{% load static %}

{% block content %}

    <!--Banner-->
    <div id="accueil" class="banner">
        <div class="bg-color">
            <div class="container">
                <div class="row">
                    <div class="banner-text text-center">
                        <div class="text-border">
                            <h2 class="text-dec">The elites of tomorrow</h2>
                        </div>
                        <div class="intro-para text-center quote">
                            <p class="big-text">Center - Research - Action - Sustainable Development (RADD)</p>
                            <p class="small-text">For the development of all man and each man</p>
                        </div>
                        <a href="#qualification" class="mouse-hover"><div class="mouse"></div></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ Banner-->

    <!-- Valeurs -->
    <section id ="valeurs" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Values</h2>
            <p>The CRADD Non-Profit Organization’s mission is to work for sustainable development of both Democratic Republic of Congo and our continent by the research,<br> training and actions in its areas of intervention.</p>
            <hr class="bottom-line">
          </div>
          <div class="feature-info">
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Moral Probity and Intellectual Integrity </h4>
                  <p>Our successes and our policies and guiding principles reflect the high level of moral and intellectual probity we seek in all actions and relationships with third parties. It is characterized by integrity, honesty, righteousness and rationalism. Following the rules of ethics and science to realize our vision, to do our duty.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-balance-scale"></i>
                </div>
              </div>
            </div>
            <div class="fea">
              <div class="col-md-4">
                <div class="heading pull-right">
                  <h4>Professionalism</h4>
                  <p>Members of the Center for Sustainable Development (CRADD) are characterized by the quality of the work of someone with experience and expertise. Thus the ability to ensure a commitment to society and meet its expectations.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-handshake-o"></i>
                </div>
              </div>
            </div>

            <div class="fea">
              <div class="col-md-3">
                <div class="heading pull-right">
                  <h4>Mutual love </h4>
                  <p>The priority of our actions is to serve our fellow men for the development of all man and each man.</p>
                </div>
                <div class="fea-img pull-left">
                  <i class="fa fa-heart"></i>
                </div>
              </div>
            </div>
        </div>
        </div>
      </div>
    </section>
    <!--/ Valeurs -->

    <!-- Objectifs -->
    <section id ="objectifs" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Goals</h2>
            <p>Here are the trainings we have at your disposal <br> Pick the one that fits best your interest</p>
            <hr class="bottom-line">
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/cradd_agriculture.jpeg' %} class="img-responsive">
              <figcaption>
                  <h3>Promoting  sustainable development in the agricultural, socio-economic and conservation of nature sectors</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/cradd_gender_equality.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Promoting the equality of gender and to fight against the sexual and gender-based violence </h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/cradd_poverty.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Fighting poverty</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/cradd_economy.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Conducting  socio-economic research at the micro and macro-economic level for the development of the Democratic Republic of the Congo and  the continent</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/course05.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Securing local population livelihoods </h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/cradd_conference.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Facilitating conferences, workshops, training both at the local population as well at the level of the elite of the country in terms of endogenous development</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/cradd_education.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Putting  in place the educational centers, studies, vocational training, literacy and other</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
          <div class="col-md-4 col-sm-6 padleft-right">
            <figure class="imghvr-fold-up">
              <img src={% static 'website/img/cradd_wildlife.jpg' %} class="img-responsive">
              <figcaption>
                  <h3>Protecting forest ecosystems and fisheries, and protected areas</h3>
              </figcaption>
              <a href="#"></a>
            </figure>
          </div>
        </div>
      </div>
    </section>
    <!--/ Courses-->

    <!-- Equipe -->
    <section id="equipe" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="header-section text-center">
            <h2>Our Team</h2>
            <hr class="bottom-line">
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container" >
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                  <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
                </div>
              </div>
              <div class="pm-staff-profile-details text-center">
                <p class="pm-staff-profile-name">Baafo Nkong’oto Jean Marie</p>
                <p class="pm-staff-profile-title">President</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container" >
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                  <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
                </div>
              </div>
              <div class="pm-staff-profile-details text-center">
                <p class="pm-staff-profile-name">Wassia Anengeni Dorea</p>
                <p class="pm-staff-profile-title">General secretary</p>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-4">
            <div class="pm-staff-profile-container" >
              <div class="pm-staff-profile-image-wrapper text-center">
                <div class="pm-staff-profile-image">
                    <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
                </div>
              </div>
              <div class="pm-staff-profile-details text-center">
                <p class="pm-staff-profile-name">Ngamoy Batchonane Clarisse</p>
                <p class="pm-staff-profile-title">Program Manager</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="text-align: center;">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <h4><a href="{% url 'team' %}" class="smoothScroll" >See the entire team</a><h4>
            </div>
        </div>


      </div>
    </section>
    <!-- Equipe -->

    <!--Contact-->
    <section id ="contact" class="section-padding">
        <div class="container">
            <div class="row">
                <div class="header-section text-center">
                    <h2>Contact Us</h2>
                    <p>Want to know more ? Write us !</p>
                    <hr class="bottom-line">
                </div>
                <div id="sendmessage">Your message has been sent. Thank you !</div>
                <div id="errormessage">An error occured. Your message couldn't be sent :( !</div>
                <form action={% url 'get_message' %} method="post" role="form" class="contactForm">
                    {% csrf_token %}
                    <div class="col-md-6 col-sm-6 col-xs-12 left">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control form" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Object" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                    </div>

                    <div class="col-md-6 col-sm-6 col-xs-12 right">
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something" placeholder="Message"></textarea>
                            <div class="validation"></div>
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <!-- Button -->
                        <button type="submit" id="submit" name="submit" class="form contact-form-button light-form-button oswald light">SEND EMAIL</button>
                    </div>
                </form>

            </div>
        </div>
    </section>
    <!--/ Contact-->



{% endblock %}
