{%  extends 'website/base2.html' %}
{% load static %}

{% block content %}
    <div class="container" style="padding-top: 100px;">
        {% for project in projects %}
            <div class="row" style="margin:10px;">
                <!-- <div class="col-md-4 col-sm-6">
                    <img src={% static 'website/img/course02.jpg' %} class="img-responsive thumbnail" alt="about img" height="230px" width="350px">
                </div> -->
                <div class="col-md-8 col-sm-6">
                    <h3>{{ project.name }}</h3>
                    <p>{{ project.execution_date }}</p>
                    <p>{{ project.description|linebreaksbr }}</p>
                </div>

            </div>
            <hr />
        {% endfor %}

        {% if projects.has_other_pages %}
            <ul class="pagination">
                {% if projects.has_previous %}
                    <li><a href="?page={{ projects.previous_page_number }}">&laquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                {% endif %}
                {% for i in projects.paginator.page_range %}
                    {% if projects.number == i %}
                        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                        <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                {% endfor %}
                {% if projects.has_next %}
                    <li><a href="?page={{ projects.next_page_number }}">&raquo;</a></li>
                {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                {% endif %}
            </ul>
        {% endif %}

    </div>
{% endblock %}
