{%  extends 'website/base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="header-section text-center">
      <h2>Notre Equipe</h2>
      <p>Notre equipe est constitue des membres suivants</p>
      <hr class="bottom-line">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
            <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Baafo Nkong’oto Jean Marie</p>
          <p class="pm-staff-profile-title">Président</p>

          <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
            <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Wassia Anengeni Dorea</p>
          <p class="pm-staff-profile-title">Secrétaire Général</p>

          <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
              <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Ngamoy Batchonane Clarisse</p>
          <p class="pm-staff-profile-title">Responsable de programmes</p>

          <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Ngilima Lomboo Jean Pierre</p>
            <p class="pm-staff-profile-title">Commissaire aux comptes</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Bongonga Ifelo Georges</p>
            <p class="pm-staff-profile-title">Commissaire aux comptes</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Matondo Kwanzambi Trabe</p>
            <p class="pm-staff-profile-title">Commissaire aux comptes</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

  </div>

  <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">7.	Mme. Mulamba Lukadi Christine</p>
            <p class="pm-staff-profile-title">Trésorière Générale</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Baafo Boale Glodie</p>
            <p class="pm-staff-profile-title">Conseillère</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Ekila Efonge Gisèle</p>
            <p class="pm-staff-profile-title">Conseillère</p>

            <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>

  </div>

  <div class="row">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
              <img src={% static "website/img/mentor.jpg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Imela Ekila David</p>
          <p class="pm-staff-profile-title">Conseiller</p>

          <p class="pm-staff-profile-bio">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
  </div>

</div>
</section>
<!-- Equipe -->

{% endblock %}
