{%  extends 'website/base2.html' %}
{% load static %}

<!--Navigation bar-->
{% block navigation %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href={% url 'index' %}>CRA<span>DD</span></a>
            <a href={% url 'toggle_language' %}>en/fr</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href={% url 'index' %} class="smoothScroll">Home</a></li>
                <li><a href={% url 'gallery' %} class="smoothScroll">Gallery</a></li>
                <li><a href={% url 'project_list' %} class="smoothScroll">Project</a></li>
                <li><a href={% url 'article_list' %} class="smoothScroll">Blog</a></li>
                <li><a href="#contact" class="smoothScroll">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>
{% endblock %}
<!--/ Navigation bar-->

{% block content %}

<div class="container">
  <div class="row">
    <div class="header-section text-center">
      <h2>Our Team</h2>
      <p>Here are the core member of the NGO</p>
      <hr class="bottom-line">
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
            <img src={% static "website/img/jean-marie.jpeg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Baafo Nkong’oto Jean Marie</p>
          <p class="pm-staff-profile-title">President</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
            <img src={% static "website/img/dorea.jpeg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Wassia Anengeni Dorea</p>
          <p class="pm-staff-profile-title">General Secretary</p>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
              <img src={% static "website/img/res-programme.jpg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Ngamoy Batchonane Clarisse</p>
          <p class="pm-staff-profile-title">Programs Manager</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/jean-pierre.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Ngilima Lomboo Jean Pierre</p>
            <p class="pm-staff-profile-title">Statutory Auditor</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/ifelo.jpeg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Bongonga Ifelo Georges</p>
            <p class="pm-staff-profile-title">Statutory Auditor</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/matondo.jpeg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Matondo Kwanzambi Trabe</p>
            <p class="pm-staff-profile-title">Statutory Auditor</p>
          </div>
        </div>
      </div>

  </div>

  <div class="row">

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/mul_lukadi_2.jpeg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Mulamba Lukadi Christine</p>
            <p class="pm-staff-profile-title">General Treasurer</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/cons-glodie.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Baafo Boale Glodie</p>
            <p class="pm-staff-profile-title">Advisor</p>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-4">
        <div class="pm-staff-profile-container" >
          <div class="pm-staff-profile-image-wrapper text-center">
            <div class="pm-staff-profile-image">
                <img src={% static "website/img/cons-ekila.jpg" %} alt="" class="img-thumbnail img-circle" />
            </div>
          </div>
          <div class="pm-staff-profile-details text-center">
            <p class="pm-staff-profile-name">Ekila Efonge Gisèle</p>
            <p class="pm-staff-profile-title">Advisor</p>
          </div>
        </div>
      </div>

  </div>

  <div class="row">
     <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
              <img src={% static "website/img/emela-ekila.jpg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Imela Ekila David</p>
          <p class="pm-staff-profile-title">Advisor</p>
        </div>
      </div>
  </div>

      <!-- <div class="col-lg-4 col-md-4 col-sm-4">
      <div class="pm-staff-profile-container" >
        <div class="pm-staff-profile-image-wrapper text-center">
          <div class="pm-staff-profile-image">
              <img src={% static "website/img/dorea.jpeg" %} alt="" class="img-thumbnail img-circle" />
          </div>
        </div>
        <div class="pm-staff-profile-details text-center">
          <p class="pm-staff-profile-name">Dorea Anengeni</p>
          <p class="pm-staff-profile-title">General Secretary</p>
        </div>
      </div> -->
  </div>
  </div>

</div>
</section>
<!-- Equipe -->

{% endblock %}
